/* App.css */
.end-page {
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-end{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .middle-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .profile-image {
    /* Increase the size of the image */
    margin-top: 20vh;
    height: 80vh;
    width: auto; 
  }
  
  h1 {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 2rem; /* Adjust font size for the thank you message */
  }
  