body {
  font-family: 'Inter', sans-serif;
}
nav{
  position: fixed;
  z-index: 1000;
  padding: 5px 10px;
  border-bottom: none; /* Remove border-bottom */
}

.gradient-line {
  height: 4px; /* Adjust height as needed */
  background: linear-gradient(to right, #000046, #19AAD7);
  position: fixed;
  top: 50px; /* Adjust based on navbar height */
  width: 100%;
  z-index: 999; /* Ensure it appears just below the navbar */
}

@media screen and (max-width: 768px) {
  nav {
    padding: 5px 10px !important;
  }
  
  nav img {
    height: 6vh !important;
  }

  nav h1 {
    font-size: 14px !important;
  }

  nav p {
    font-size: 10px !important;
  }
}